<div class="row">
  <div class="col s8 offset-s2 center-align hide-on-small-only">
    <h4>Welcome <%= @user.email %>!</h4>
  </div>
  <div class="col s12 center-align hide-on-med-and-up">
    <h5>Welcome <%= @user.email %>!</h5>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="col s12 m12 l8 offset-l2">
        <ul class="js-items">
          <%= render partial: 'items/item', collection: @items %>
        </ul>
      </div>
    </div>    
  </div>
</div>

<div class="row">
  <div class="new-item">
    <%= render partial: 'items/form', locals: { user: @user, item: @item } %>
  </div>
</div>