@import "materialize";

.intro
{
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 25px;
}

.intro h1
{
  font-weight: 900;
  text-transform: uppercase;
}

.intro h5 {
  margin-bottom: 25px;
}