@import "materialize";

.intro
{
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 25px;
}

.intro h1
{
  font-weight: 900;
  text-transform: uppercase;
}

.intro h5 {
  margin-bottom: 25px;
}

.close {
  cursor: pointer;
  opacity: 0.3;
}

.close:hover {
  opacity: 1;
}

#success {
  line-height: 28px;
  font-weight: bold;
  color: #3c763d;
}

#error {
  line-height: 28px;
  font-weight: bold;
  color: #a94442;
}

#alert {
  line-height: 28px;
  font-weight: bold;
  color: #8a6d3b;
}

.del {
  display: none;
}

.strk {
  text-decoration: line-through;
}

@media (min-width: 601px) and (max-width: 840px) { 
  .del {
    margin-left: 10px;
  }
}